{% extends "base.html" %}{% block title %}Ganti sandi{% endblock %}{% block content %}
<h2>Ganti sandi</h2>
{% if user.must_change_password %}<div class="msg">Sandi Anda dibuat atau direset oleh administrator. Ganti dengan sandi baru yang hanya Anda ketahui untuk melanjutkan.</div>{% endif %}
<form method="post" class="card form">{% csrf_token %}{{ form.non_field_errors }}
{% for f in form %}<div class="fld"><label for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}{% if f.help_text %}<small style="color:var(--mu)">{{ f.help_text|safe }}</small>{% endif %}{{ f.errors }}</div>{% endfor %}
<p><button>Simpan</button></p></form>
{% endblock %}
